html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size-adjust: auto; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size-adjust: auto; }

a {
  cursor: pointer; }

body {
  background-color: #fff; }

.header {
  width: 50%;
  height: 5%;
  position: relative;
  font-family: 'helvetica_roundedbold';
  font-size: 0.8rem;
  color: #003B71;
  margin-top: 5%;
  margin-right: 5%; }

.navbar {
  font-size: 0.7rem; }

.wrapper {
  width: 50%;
  max-width: 1080px;
  margin: 2%;
  position: relative; }

.phonenumber, .fa {
  color: #009cde;
  font-size: 0.7rem;
  font-weight: 700; }

.hgroup {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1rem;
  margin-left: 1rem; }

#site-title {
  width: 40%; }

#column1, #column3 {
  flex-direction: column;
  float: left; }

#column2 {
  display: flex;
  float: left;
  flex-direction: column; }

ul, a {
  list-style-type: none;
  font-size: 0.7rem;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color: #004d81;
  color: white;
  font-weight: 700;
  text-decoration: none; }
  ul li, a li {
    float: left;
    padding-right: 5%;
    padding-left: 1%;
    text-align: center;
    font-size: 0.7rem; }
  ul #reservas, a #reservas {
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    min-width: 440px;
    /*min-height: 340px;*/
    min-height: 310px;
    margin-top: 30px;
    padding-top: 20px;
    z-index: 1;
    position: relative; }
  ul #reservas2, a #reservas2 {
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    max-width: 320px;
    min-height: 351px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
    position: absolute;
    z-index: 3; }
  ul #reservas2 h5, ul #reservas h5, a #reservas2 h5, a #reservas h5 {
    color: #E2231A;
    font-size: 1rem;
    font-family: 'helvetica_roundedbold'; }
  ul #reservas2 .form-inline, ul #reservas .form-inline, a #reservas2 .form-inline, a #reservas .form-inline {
    margin-bottom: 6px; }
  ul #reservas2 label, ul #reservas label, a #reservas2 label, a #reservas label {
    color: #07254D;
    font-size: 0.7rem;
    font-family: 'helvetica_roundedbold'; }
  ul #reservas2 .buscarpasaje, ul #reservas .buscarpasaje, a #reservas2 .buscarpasaje, a #reservas .buscarpasaje {
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #4ab03b;
    border: 0px;
    width: 130px;
    height: 35px;
    font-size: 0.7rem;
    font-family: 'helvetica_roundedbold';
    float: right; }
  ul .btnreservas i, a .btnreservas i {
    position: absolute;
    right: 10px;
    top: 15px; }
  ul .btnreservas, a .btnreservas {
    background-color: #E2231A;
    color: #fff;
    font-size: 0.7rem;
    font-family: 'helvetica_roundedbold';
    position: relative;
    width: 280px;
    height: 46px;
    border: 0px;
    text-align: left;
    padding-left: 10px; }
  ul input.reservar:hover, a input.reservar:hover {
    text-decoration: underline; }
  ul #ui-datepicker-div, a #ui-datepicker-div {
    z-index: 100 !important; }
  @media screen and (max-width: 767px) {
    ul #reservas2, ul #reservas, a #reservas2, a #reservas {
      background-color: rgba(255, 255, 255, 0.95);
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      width: 100%;
      /*min-height: 340px;*/
      min-height: 310px;
      margin: 5%;
      padding-top: 20px;
      z-index: 1;
      position: relative; }
    ul header, a header {
      width: 60%;
      min-height: 7%;
      position: relative; }
    ul header .vta, a header .vta {
      font-size: 0.7rem; }
    ul #reservas, ul #reservas2, a #reservas, a #reservas2 {
      background-color: rgba(255, 255, 255, 0.95);
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      max-width: 343px;
      min-height: 381px;
      margin-top: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      display: none;
      position: absolute;
      z-index: 3;
      top: 57px;
      left: 10px; }
    ul #reservas3, a #reservas3 {
      background-color: rgba(255, 255, 255, 0.95);
      width: 100%;
      height: 449px;
      margin-top: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      display: block;
      position: relative;
      z-index: 3;
      top: 0px;
      left: 0px; }
    ul #reservas3 h5, a #reservas3 h5 {
      color: #E2231A;
      font-size: 1rem;
      font-family: 'helvetica_roundedbold'; }
    ul #reservas3 .form-inline, a #reservas3 .form-inline {
      margin-bottom: 6px; }
    ul #reservas3 label, a #reservas3 label {
      color: #07254D;
      font-size: 0.7rem;
      font-family: 'helvetica_roundedbold'; }
    ul #reservas3 .buscarpasaje, a #reservas3 .buscarpasaje {
      color: #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #E2231A;
      border: 0px;
      width: 130px;
      height: 35px;
      font-size: 0.7rem;
      font-family: 'helvetica_roundedbold';
      float: right; } }

/*# sourceMappingURL=seacat-core.css.map */
