.headerbar {    
    float: left;
    padding-right: 250px;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;   
}

.phonenumber, .fa {
	color: rgb(0,156,222);
}

.row {
    display:flex;
    flex-direction:row;
	justify-content: flex-end;
}

#column1, #column3  {
    font-family: Helvetica;
    font-size: small;
    display:flow-root;
    flex-direction:column;
    padding-right: 35px;

}

#column2 {
    font-family: Helvetica;
    font-size: small;
    display:flex;
    flex-direction:column;
    padding-right: 35px;

}

