

$primary-color: rgb(5,159,223);
$secondary-color-dark: rgb(204,100,25);
$secondary-color: rgb(255, 153, 51); 
$primary-font: 'Lato', sans-serif;
$normal-font-size: 0.8rem;
$small-font-size: 0.6rem;

/*---------------------------------------------*/

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size-adjust: auto;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size-adjust: auto;
}

a {
    cursor: pointer;
}
body {
    background-color: #fff;
    font-size: $normal-font-size;
}

/*-------navbar--------------------------------------*/
.bgimg {

    background-image: url("../img/bgimg.jpg");
    background-repeat: no-repeat;
    background-size: 1800px;
    width: 100%;    
    height: 800px;
    position: absolute;
    z-index: -1;
}

header {
    margin: auto;     
    padding-left: 5%;   

}

#logo {
    padding-top: 4%;
}

nav{

    ul, a {
        list-style-type: none;
        font-size: $normal-font-size;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: $primary-color;
        color: white;
        font-weight: 700;
        text-decoration: none;
        font-family: $primary-font;
        }

    li {
        float: left;
        padding-right: 5%;
        padding-left: 1%;
        text-align: center;
        font-size: $small-font-size;
    }
}

.phonenumber {
	color: $primary-color;
    font-size: $normal-font-size;
    font-weight: 800;
}

hgroup {
    display:flex;     
    font-size: $small-font-size;     
    margin-top: 5%;    
}

.btn-arribos {
        color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: $secondary-color;
        border: 0px;
        width: 160px;
        height: 30px;
        font-size: $normal-font-size;
        font-family: $primary-font;
        float: right;
        font-weight: 800;

    }

.btn-nueva {
        color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: $primary-color;
        border: 0px;
        width: 160px;
        height: 30px;
        font-size: $normal-font-size;
        font-family: $primary-font;
        float: right;
        font-weight: 800;

    }

.btn-continuar {
        color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: rgb(74,176,59);
        border: 0px;
        width: 160px;
        height: 30px;
        font-size: $normal-font-size;
        font-family: $primary-font;
        float: right;
        font-weight: 800;

    }
/*-------------------------------------------------*/

#cont-bodegas {
    padding-bottom: 5%;
}


#reservas {
    background-color: rgba(255,255,255,0.90);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    min-width: 440px;
    /*min-height: 340px;*/
        min-height: 310px;
    margin-top: 30px;
    padding-top: 20px;
    z-index: 1;
    position: relative;
}
#reservas2 {
    background-color: rgba(255,255,255,0.90);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    max-width: 320px;
    min-height: 351px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
    position: absolute;
    z-index: 3;
}
#reservas2 h5, #reservas h5 {
    color: #E2231A;
    font-size: $normal-font-size;
    font-family: $primary-font;
}
#reservas2 .form-inline, #reservas .form-inline {
    margin-bottom: 6px;
}
#reservas2 label, #reservas label {
    color: $secondary-color-dark;
    font-size: $small-font-size;
    font-family: $primary-font;
}
#reservas2 #reservas {
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #4ab03b;
    border: 0px;
    width: 130px;
    height: 35px;
    font-size: $small-font-size;
    font-family:$primary-font;
    float: right;
}

 #reservas3{
        background-color: rgba(255,255,255,0.90);
        width: 100%;
        height: 380px;
        margin-top: 0px;
        padding-bottom: 20px;
        display: block;
        position: relative;
        z-index: 3;
        top: 0px;
        left: 0px; 
        clear: both;
        margin-left: 100px;        
        margin-bottom: 420px;
        border-radius: 10px;
    }

.btnreservas i {
    position: absolute;
    right: 10px;
    top: 15px;
}
.btnreservas {
    background-color: #E2231A;
    color: #fff;
    font-size: $small-font-size;
    font-family: $primary-font;
    position: relative;
    width: 280px;
    height: 46px;
    border: 0px;
    text-align: left;
    padding-left: 10px;
}

.btn-buscarpasaje {
        color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: $primary-color;
        border: 0px;
        width: 130px;
        height: 35px;
        font-size: $normal-font-size;
        font-family: $primary-font;
        float: right;
    }

#ui-datepicker-div {
    z-index: 100 !important;
}

.contenedor-bancos{
    padding-top:10px;
    background-color:#f0f0f0;
}
.centrado{
    margin:0 
    auto;text-align:center;
    width:100%;
}
.bancos{
    color:#777;
    font-size:19px;
    max-width:1366px;
    padding:10px;
}
.bancos-full{
    display:inline-block;
    overflow:hidden !important;
    padding:0 35px;
    position:relative;
    vertical-align:middle;
    width:100%;
}
.bancos-full .owl-prev,.bancos-full .owl-next,.rmd .owl-prev,.rmd .owl-next{
    cursor:pointer;
    font-size:$normal-font-size;
    width:24px;
    color:#a5a5a5;
    position:absolute;
    height:120%;
    top:0
}
.rmd .owl-prev,.rmd .owl-next{
    height:100%
}
.bancos-full .owl-prev .fa, .bancos-full .owl-next .fa,.rmd .owl-prev .fa,.rmd .owl-next .fa{
    height:25px;
    left:50%;
    margin-left:-5px;
    margin-top:-13px;
    position:absolute;
    text-align:center;
    top:50%;
    width:10px;
}
.rmd .owl-prev{
    left:-25px
}.rmd .owl-next{
    right:-25px
}
.bancos-full .owl-prev{
    box-shadow:8px 0 15px #dadada;
    left:-24px
}
.bancos-full .owl-next{
    box-shadow:-8px 0 15px #dadada;
    right:-24px
}
.img_bank{
    height:48px;
    line-height:46px;
}
.img_bank img{
    max-width:100%;
    max-height:48px;
    vertical-align:middle
}
.item-bancos{
    cursor:pointer;
    font-size:$normal-font-size;
    text-align:center;
}

footer {
    width: 100%;
    background-color: $primary-color;
    color: #fff;
    font-family: $primary-font;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

footer h3 {
    font-family: $primary-font;
    font-size: $normal-font-size;    
}

footer h2 {
    font-family: $primary-font;
    font-size: $normal-font-size;
}

footer ul li a {
    font-family: $primary-font;
    font-size: $small-font-size;
    color: #fff;
    list-style: none;
}

.dropdown-menu.sub_opc_footer .right-caret::after, .left-caret::after{
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}

.footerContenido{
    width:100%;
    height: 220px;  
}

footer{
    width:100%;
    margin:0;
    background:$primary-color;
    margin-top:30px;
    padding:10px 0;
}

footer .footerContenido menu{
    float:left;
    margin:0;
}
.cont_menu_pie{
    padding-top:60px;
    padding-left:80px;

}

.cont_menu_pie,#topVersion{
    width:calc(100% - 60px);
    float:left;
}

footer .footerContenido menu ul li{
    color:#fff;
    float:left;
    font-size:$normal-font-size;
    line-height:16px;
    list-style:outside none none;
    padding:0 12px;
    border-left:1px solid #ccc;
}

footer .footerContenido menu ul li a{
    color:#fff;
}

footer .footerContenido menu ul li a:hover{
    color:$secondary-color-dark;
    cursor:pointer;
}

footer .footerContenido menu ul li:nth-of-type{
    border:0;
    padding-left:0;
}

footer .footerContenido .redes{
    display:block;
    margin:0;
}

footer .footerContenido .redes div img{
    height:20px;
}
footer .footerContenido .redes a{
    color:#fff;
    font-size:$normal-font-size;
    line-height:19px;
}

footer .footerContenido .redes a:hover{
    color:#009cde;
}

iframe#ssIFrame_google{
    height:0!important;
    border:0!important;
}

a.btn_afip{
    float:right;
}
a.btn_afip img{
    width:50px;
}

.sub_opc_footer{
    padding-top: 0 !important;
}

.sub_opc_footer li {
    border: 0 none !important;
    padding: 0 !important;
    width: 100%;
}

.sub_opc_footer li a {
    width: 100%;
    padding:3px 15px;
}

.sub_opc_footer li ul.sub-menu{
    padding-top:9px !important; 
    position:static;
}

.sub_opc_footer li ul.sub-menu li a{
    padding-left:23px;
}

.text-info {

    color: $primary-color;
}


/*

@media screen and (max-width: 767px) {
    #reservas2, #reservas {
        background-color: rgba(255,255,255,0.95);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        width: 100%;
        min-height: 340px;
        min-height: 310px;
        margin: 5%;
        padding-top: 20px;
        z-index: 1;
        position: relative;
    }
     
    #reservas, #reservas2 {
        background-color: rgba(255,255,255,0.95);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        max-width: 343px;
        min-height: 381px;
        margin-top: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: none;
        position: absolute;
        z-index: 3;
        top: 57px;
        left: 10px;
    }
   

    #reservas3 h5 {
        color: #E2231A;
        font-size: $normal-font-size;
        font-family: $primary-font;
    }
    #reservas3 .form-inline {
        margin-bottom: 6px;
    }
    #reservas3 label {
        color: #07254D;
        font-size: $small-font-size;
        font-family: $primary-font;
    }
   
}

*/