
$dodgerblue: rgb(0,156,222);
$red: rgb(227,6,20);
$teal: rgb(0,77,129);

body{
  font-size: 16px;
  font-family: Helvetica;

}

.centered-wrapper {
    width: 100%;
    height: 110px;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;    
    vertical-align: baseline;    
    display: block;
}

.headerbar {    
    float: left;
    padding-right: 240px;
    padding-left: 90px;
    padding-top: 30px;
    padding-bottom: 20px;   
}

.phonenumber, .fa {
	color: $dodgerblue;
    font-size: medium;
    font-weight: 800;
}

.row {
    display:flex;
    flex-direction:row;
	justify-content: flex-end;
}

#column1, #column3  {
    font-size: 0.8rem;
    display:flow-root;
    flex-direction:column;
    padding-right: 30px;
}

#column2 {
    font-size: 0.8rem;
    display:flex;
    flex-direction:column;
    padding-right: 30px;
}

ul {
    list-style-type: none; 
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $teal;
    color: white;
    font-weight: 800;
    overflow: hidden;

}

li {
    float: left;
    padding-right: 120px;
    padding-left: 120px;

}

